@font-face {
  font-family: 'Jasper Daniels';
  src: url('Jasper Daniels.eot');
  src: url('Jasper Daniels.woff2') format('woff2'),
       url('Jasper Daniels.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JasperDaniels';
  src: url('JasperDaniels.woff') format('woff'),
       url('JasperDaniels.ttf') format('truetype'),
       url('JasperDaniels.svg#JasperDaniels') format('svg');
  font-weight: normal;
  font-style: normal;
}

