<div class="pin">
    <h1 class="text-uppercase text-center title">
        pin & enter
        <img src="../../../assets/images/line.png" alt="line" class="line">
    </h1>
    <div class="input text-center">
        <input type="tel" pattern="[0-9]*" [ngModel]="pin" (ngModelChange)="twilioPin($event)" placeholder="PIN">
    </div>
    <div class="error-message text-center" [ngClass]="{'show-error': showError}">
        {{message}}
    </div>
    <button class="btn btn-link btn-jdh" [ngClass]="{'show-btn': showBtn}" (click)="postPin()">
        enter
    </button>
    <div class="bottle-wrapper">
        <img src="../../../assets/images/tennessee-honey-bottle.png" alt="Tennessee Honey" class="tennessee-honey-bottle">
    </div>
</div>